html {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 100%, 95%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.card-holder {
  margin: auto;
  flex-direction: column;
  width: 19rem;
  height: fit-content;
  background-color: hsl(0, 0%, 100%);
  padding: 1em 0.5em;
  border-radius: 15px;
  box-shadow: 5px 5px 10px hsl(212, 45%, 89%), -5px 0 10px hsl(212, 45%, 89%);
}

.qr-code {
  height: 16em;
  width: 16em;
  border-radius: 15px;
}

.card-text {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: hsl(218, 44%, 22%);
  font-size: 1.1em;
  margin: 1.5em 1em 0 1em;
}

.scan-code {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  margin: 1em;
}

@media (max-width: 700px) {
  .card-holder {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0em;
    width: 16em;
    height: fit-content;
    border-radius: 10px;
  }

  .qr-code {
    height: 14em;
    width: 14em;
    margin: 1em 0 0 0;
  }

  .card-text {
    padding: 1em 1em 0 1em;
    margin: 0;
  }

  .scan-code {
    padding: 1em 0.5em;
  }
}

.attribution {
  font-size: 0.8em;
  text-align: center;
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
