body{
  background-color: hsl(217, 19%, 24%);
  margin: auto;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.advice-card{
  background-color: hsl(217, 19%, 38%);
  text-align: center;
  width: 35%;
  height: fit-content;
  margin: 11% auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
}

.advice-number{
  color: hsl(150, 100%, 66%);
  padding: 4em 0 0 0;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 2px;
}

#advice-container{
  padding: 1em;
  color: hsl(193, 38%, 86%);
  font-weight: 900;
  font-size: x-large;
}

.hide{
  display: none;
}

.divider{
  display: inline;
  padding: 1em 0;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
}

.generate-advice-btn{
  background: hsl(150, 100%, 66%);
  border: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: translateY(50%);
  z-index: 1;
  padding: 0;
  transition: all 0.25s;
}

.generate-advice-btn:hover{
  box-shadow: 1px 1px 5px hsl(150, 100%, 66%), -1px -1px 5px hsl(150, 100%, 66%);
}

.generate-image{
  width: 1.65em;
  height: 1.65em;
  margin: auto;
  padding: 1em;
}

@media (max-width: 700px){
  .advice-card{
    width: 90%;
    margin-top: 30%;
  }
  .desktop-divider{
    display: none;
  }
}

@media (min-width: 700px){
  .mobile-divider{
    display: none;
  }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(193, 38%, 86%);
  }
  .attribution a {
    color: hsl(233, 4%, 63%);
  }